@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans-Italic-VariableFont_wdth,wght.woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('fonts/NotoSans-VariableFont_wdth,wght.woff2');
}

@media only screen and (max-width: 850px) {
    .section-container:has(.mockups) {
        justify-content: end;
    }
}


@media only screen and (max-width: 500px) {
    .header .open-webapp-button img {
        width: 20px;
        margin-right: 5px;
    }
}

:root {
    --font-size: 18px;
    --color: #34302a;
    --background: #faf5ea;
    --active: #dfba6b;
    --color-image-filter: invert(13%) sepia(11%) saturate(758%) hue-rotate(357deg) brightness(103%) contrast(86%);
    --background-image-filter: invert(96%) sepia(3%) saturate(1110%) hue-rotate(331deg) brightness(104%) contrast(96%);
    --active-image-filter: invert(79%) sepia(32%) saturate(587%) hue-rotate(357deg) brightness(93%) contrast(88%);
    --section-width: 1130px;

    color: var(--color);
    background-color: var(--background);
    line-height: 1.5;
    letter-spacing: -0.02em;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: transparent;
    font-synthesis: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: radial-gradient(800px 500px at 80% 550px, var(--active) 10%, var(--background) 80%);
}

button {
    border: none;

    &:hover {
        opacity: 80%;
    }
}

a {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-decoration: none;

    :hover {
        opacity: 50%;
        transition: 0.3s ease;
    }

    >* {
        color: var(--color);
    }

    p {
        display: flex;
        padding: 10px 20px;
        font-size: max(calc(var(--font-size) - 2px), min(3vw, var(--font-size)));
        border-radius: 999px;
        opacity: 1;
        font-weight: 500;
    }

    img {
        margin-right: 10px;
    }
}

h1 {
    font-weight: 750;
    font-size: max(40px, min(5vw, 55px));
    letter-spacing: -0.03em;
}

p {
    font-size: calc(var(--font-size) - 0.5px);
    font-weight: 525;
    opacity: 0.7;
}

.header-container {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

.header {
    margin: 0 5vw;
    max-width: var(--section-width);
    display: flex;
    justify-content: space-between;
    flex: 1;

    div {
        display: flex;
        align-items: center;
        margin: 15px 0;

        &:nth-child(1) {
            margin-right: 0;
        }

        &:nth-child(2) {
            margin-left: 0;
        }
    }
}

.logo {
    pointer-events: none;

    img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
    }

    h5 {
        line-height: 120%;
        font-weight: 625;
        font-size: max(var(--font-size), min(3vw, calc(var(--font-size) + 5px)));
    }
}

.open-webapp-button p {
    padding-right: 25px;
    border-radius: 999px;
    font-weight: 525;
    background-color: color-mix(in srgb, #34302a 8%, transparent);
}

.open-webapp-button img {
    filter: var(--color-image-filter);
}

.section-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section {
    margin: 35px 5vw;
    max-width: var(--section-width);
    flex: 1;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 26vh;

    >p {
        margin: 30px 0;
        font-weight: 500;
        font-size: max(calc(var(--font-size) + 3px), min(2.5vw, calc(var(--font-size) + 7px)));
        opacity: 80%;
    }

    .open-webapp-button {
        &:hover {
            opacity: 80%;
        }

        p {
            padding: 15px 25px 15px 20px;
            color: var(--background);
            background-color: var(--color);
        }

        img {
            filter: var(--background-image-filter);
        }
    }
}

.mockups {
    position: relative;
    margin-bottom: 120px;

    div {
        display: flex;
    }

    div:first-child img {
        margin-left: 10px;
        max-width: 80%;
        min-width: 700px;
        border-radius: 13px;
        box-shadow:
            0 0 0 max(0.85vw, 10px) var(--color),
            0 0 0 max(1.05vw, 12px) #b4b4b4,
            10px 10px 30px 15px rgba(0, 0, 0, 0.3);
    }

    div:last-child {
        position: absolute;
        bottom: -60px;
        right: 35px;
        justify-content: end;
        width: auto;

        img {
            max-width: 22%;
            min-width: 175px;
            border-radius: 10px;
            box-shadow:
                0 0 0 max(0.7vw, 7px) var(--color),
                0 0 0 max(0.9vw, 8.5px) #b4b4b4,
                10px 10px 30px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 40px;

    >div {
        display: flex;
        flex-direction: column;

        * {
            padding-top: 10px;
        }

        h2 {
            font-size: calc(var(--font-size) + 2px);
        }

        img {
            width: 37px;
            filter: var(--active-image-filter);
        }
    }
}

#about-container .section {

    max-width: calc(var(--section-width) - 450px);
    padding: 60px;
    padding-top: 40px;
    margin-bottom: 100px;
    border-radius: 40px;
    position: relative;
    background-color: color-mix(in srgb, var(--active) 20%, transparent);
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.1);

    h2 {
        margin: 35px 0 8px 0;
    }

    p {
        margin: 5px 0;

        * {
            display: inline;
        }
    }
}

.github-guide {

    margin: 100px 5vw;
    max-width: var(--section-width);

    h2 {
        margin: 50px 0 8px 0;
        display: flex;
    }

    >p {
        margin: 15px 0 5px 0;

        * {
            display: inline;
        }
    }

    >img {
        width: min(900px, 100%);
        border-radius: 10px;
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
    }

    a p {
        padding: 0;
    }

    a img {
        margin-left: 8px;
        width: 26px;
    }
}