@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media only screen and (max-width: 850px) {
    .section-container:has(.mockups) {
        justify-content: end;
    }
}

@media only screen and (max-width: 500px) {
    .header .open-webapp-button img {
        width: 20px;
        margin-right: 5px;
    }
}

:root {
    --font-size: 18px;
    --color: #0d0d0d;
    --background: #f8f8f8;
    --background-secondary: rgba(255, 255, 255, 0.85);
    --white-image-filter: invert(100%) sepia(8%) saturate(31%) hue-rotate(181deg) brightness(107%) contrast(100%);
    --section-width: 1130px;
    --border-radius: 10px;

    color: var(--color);
    background-color: var(--background);
    line-height: 1.5;
    letter-spacing: -0.015em;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: transparent;
    font-synthesis: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-image:
        radial-gradient(circle min(1000px, 90vw) at 110% 550px, rgba(223, 186, 107, 0.2) 100%, transparent 80%),
        radial-gradient(circle min(1000px, 120vw) at -10% bottom, rgba(223, 186, 107, 0.2) 100%, transparent 80%);
    background-repeat: no-repeat;
}

button {
    border: none;

    &:hover {
        opacity: 80%;
    }
}

a {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-decoration: none;

    :hover {
        opacity: 50%;
        transition: 0.3s ease;
    }

    p {
        font-weight: 300;
        display: flex;
        padding: 10px 12px;
        padding-right: 14px;
        border-radius: var(--border-radius);
        opacity: 1;
    }

    img {
        margin-right: 10px;
    }
}

h1,
h2 {
    font-weight: 600;
}

p,
li {
    font-size: calc(var(--font-size) - 1px);
    font-weight: 300;
}

ul {
    margin-left: 20px;
}

.header-container {
    position: fixed;
    margin-top: 20px;
    z-index: 1000;
    width: min(calc(var(--section-width) * .8), 90vw);
    border-radius: calc(var(--border-radius) * 1.25);
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    background-color: color-mix(in srgb, white 60%, transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.035);

}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;

    div {
        display: flex;
        align-items: center;
        margin: 7px;
        margin-right: 11px;

        >a {
            padding-left: 7px;
        }

        &:nth-child(1) {
            margin-right: 0;
        }

        &:nth-child(2) {
            margin-left: 0;
        }
    }
}

.logo {
    pointer-events: none;

    img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
    }

    h5 {
        line-height: 120%;
        font-weight: 500;
        font-size: max(calc(var(--font-size) + 2px), min(4vw, calc(var(--font-size) + 3px)));
    }
}

.open-webapp-button {
    p {
        font-weight: 400;
        background-color: var(--color);
        color: var(--background);
    }

    img {
        filter: var(--white-image-filter);
    }
}

.section-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section {
    margin: 35px 5vw;
    max-width: var(--section-width);
    flex: 1;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 26vh;

    h1 {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: max(50px, min(5vw, 58px));
        letter-spacing: -0.03em;
    }

    h4 {
        margin-bottom: 50px;
        font-weight: 300;
        font-size: max(calc(var(--font-size) + 4px), min(2.5vw, calc(var(--font-size) + 7px)));
        opacity: 1;
    }
}

.mockups {
    position: relative;
    margin-bottom: 150px;

    div:first-child {

        max-width: 80%;
        min-width: 700px;
        padding: min(4vw, 25px);
        padding-bottom: min(3vw, 20px);
        backdrop-filter: blur(8px);
        background-color: color-mix(in srgb, white 40%, transparent);
        border-radius: calc(var(--border-radius) * 3);
        box-shadow: 15px 15px 25px 5px rgba(0, 0, 0, 0.2);

        img {
            width: 100%;
            border-radius: calc(var(--border-radius) * 1.5);
            box-shadow: 0 0 0 2px #ededed;
        }
    }

    div:last-child {
        position: absolute;
        bottom: -60px;
        right: 35px;
        max-width: 22%;
        min-width: 175px;

        img {
            width: 100%;
            border-radius: calc(var(--border-radius) * 1.5);
            box-shadow: 0 0 0 max(0.7vw, 7px) black,
                0 0 0 max(0.9vw, 8.5px) #b4b4b4,
                15px 15px 30px 15px rgba(0, 0, 0, 0.4);
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;

    >div {
        min-width: 200px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 25px 40px 50px 40px;
        background-color: var(--background-secondary);
        border-radius: calc(var(--border-radius) * 3.5);
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.04);

        h2 {
            padding-top: 25px;
            font-size: calc(var(--font-size) + 5px);
        }

        p {
            padding-top: 15px;
        }

        img {
            padding-top: 10px;
            width: 45px;
        }
    }
}

.large-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;

    h1 {
        font-size: calc(var(--font-size) + 15px);
        margin-bottom: 20px;
    }

    p {
        font-size: calc(var(--font-size) + 1px);
        opacity: .8;
    }

    >div {
        padding: 30px;
        min-width: 200px;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        background-color: var(--background-secondary);
        border-radius: calc(var(--border-radius) * 3);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.06);

        >div {
            margin: 10px 15px 60px 15px;
        }
    }

    img {
        width: 100%;
        flex: 1;
        border-radius: calc(var(--border-radius) * 2);
        border: solid 1px #e4e4e4;
    }
}

#about-container .section {

    max-width: calc(var(--section-width) - 450px);
    padding: 50px 60px 100px 60px;
    margin-bottom: 100px;
    border-radius: 40px;
    position: relative;
    background-color: var(--background-secondary);

    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 45px;
    }

    h2 {
        margin: 35px 0 8px 0;
    }

    p {
        margin: 5px 0;

        * {
            display: inline;
        }
    }
}

.github-guide {

    margin: 100px 5vw;
    max-width: var(--section-width);

    h1 {
        font-size: calc(var(--font-size) + 30px);
    }

    h2 {
        margin: 50px 0 8px 0;
        display: flex;
    }

    >p {
        margin: 15px 0 5px 0;

        * {
            display: inline;
        }
    }

    >img {
        width: min(900px, 100%);
        border-radius: 10px;
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
    }

    a p {
        padding: 0;
    }

    a img {
        width: 23px;
    }
}